{% extends "base.html" %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
		<div class="article-metadata">
			<span class="mr-2">{{ restaurant.name }}</span>
			<small class="text-muted">{{ restaurant.location }}</small>

		</div>
		<p class="article-content">{{ restaurant.intro }}</p>
		</div>
	</article>
	{% if comments %}
	<h3>comments</h3>
		{% for post in comments %}
			<article class="media content-section">
				<img class='rounded-circle article-img' src='{{post.author.profile.image.url}}' />
			<div class="media-body">
				<div class="article-metadata">
				<a class="mr-2" href="#">{{ post.author }}</a>
				<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>

				</div>
				<h2><a class="article-title" href="{% url 'blog-detail' pk=post.id %}">{{ post.title }}</a></h2>
				<p class="article-content">{{ post.content }}</p>
				<img src="{{post.image.url}}" alt="" class="blog-img">
			</div>
			</article>
		{% endfor %}
	{% else %}
	<h3>no comments...</h3>
	{% endif %}
{% endblock content %}
